@font-face {
    font-family: login button;
    src: url(../fonts/Crimson-Roman.otf);
}
@font-face {
    font-family: insidein;
    src: url(../fonts/Nunito-LightItalic.ttf);
}
@font-face {
    font-family: BIGLOGIN;
    src: url(../fonts/Nunito-ExtraBold.ttf);
}
@font-face {
    font-family: forgetpass;
    src: url(../fonts/Nunito-Black.ttf);
}
@font-face {
    font-family: showpass;
    src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
    font-family: orsign;
    src: url(../fonts/Crimson-SemiboldItalic.otf);
}
@font-face {
    font-family: regemail;
    src: url(../fonts/Nunito-Light.ttf);
}
body {
    background-image: url("../images/1.jpg");
    background-size: 300%;
    background-blend-mode: soft-light;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box { 
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.55);
    width: 450px;
    height: 700px;
    border-radius: 50px;
    text-align: center;
    z-index: 0;
    white-space: nowrap;
}
.boxlogin {
    font-size: 40px;
    padding-top: 5%;
    font-family: BIGLOGIN;
    height:50px;
    width: 100%;
}
.email{
    align-self: center;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding-top: 25px;
    width: 100%;
    height: fit-content;
    font-size: 15px;
    font-family: BIGLOGIN;
}
#user{
    width: 100%;
    height: fit-content;
    text-align: left;
    padding-left: 45px;
    align-self: flex-start;
}
#email{
    align-self: center;
    width: 50%;
    height: 45px;
    outline:0;
    border-width: 0 0 3px;
    border-color: black;
    font-size:15px;
    padding-left: 40px;
    padding-bottom: 2px;
    transition: width 0.4s ease-in-out;
    background-image: url(../images/username-icon-png-7.png);
    background-position: 10px;
    background-size: 15px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
}
#email:hover{
   width: 70%;
}
#email:focus{
    width: 70%;
 }
#email:not(:placeholder-shown){
    width: 70%;
}
::placeholder{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    font-family:insidein;
}
.password{
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    font-size: 15px;
    font-family: BIGLOGIN;
}
#pass{
    width: 100%;
    text-align: left;
    padding-left: 45px;
}
#password{
    align-self: center;
    width: 50%;
    height: 45px;
    outline:0;
    border-width: 0 0 3px;
    border-color: black;
    font-size:15px;
    padding-left: 40px;
    padding-bottom: 2px;
    transition: width 0.4s ease-in-out;
    background-image: url(../images/Lock-Transparent-Images.png);
    background-position: 5px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
}
#password:hover{
    width:70%
}
#password:focus{
    width: 70%;
    background-image: url(../images/unlock-156.png);
    background-position: 5px;
    background-size: 20px;
    background-repeat: no-repeat;
 }
#password:not(:placeholder-shown){
    width: 70%;
}
/* checkbox code
#showpassword{
    position: left;
    vertical-align: -5px;
    width: 15px;
    height: 20px;
    padding: 0;
    top:-1px;
    align-items: center;
}*/
#showhide{
    height: 20px;
    width: 35px;
    cursor: pointer;
}
.showpassword{
    display: flex;
    justify-content:center;
    gap:5px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    text-align: left;
    padding-top: 10px;
    padding-left: 45px;
    font-size: 14px;
    font-family: showpass;
}
.forgetpassword{
    text-align: right;
    padding-right: 50px;
    font-family:forgetpass;
}
#forgotpass{
    text-decoration: none;
    color: rgba(128, 0, 128,0.5);
}
.loginbutton{
    align-self: center;
    padding-top: 30px;
    position: relative;
    height: fit-content;
    width: fit-content;
}
#loginbutton{
    cursor: pointer;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height:60px;
    width: 150px;
    color: rgba(0, 0, 0,0.55);
    border:none;
    border-radius: 40px;
    background-image: linear-gradient(to bottom right,rgb(223,223,223),rgb(142,142,142));
    font-family: 'Doto';
    font-size: 25px;
    font-weight: 700;
}
#loginbutton:hover{
    box-shadow: none;
}
#key{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 70%;
    width: 95%;
    background-image: linear-gradient( to top left, rgb(255, 255, 255) 10%,rgb(156, 157, 157) 80%);
}
/* loginbuttons old pseudo element before on hover
#loginbutton:hover::before{
    background-size: 400%;
    animation: loginbutt 2s ease-out 1;
}
*/
#loginbutton:hover::before,#loginbutton:hover::after{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    padding: 5px; 
    cursor: pointer; 
    background-image: conic-gradient(from var(--angle), #662D8C , #ED1E79 , #662D8C);
    z-index: -1;
    animation: rotate 5s linear infinite;
}
#loginbutton:hover::after{
    padding: 7px;
    filter: blur(1.5rem);
}
/* Old login animation
@keyframes loginbutt{
    0%{
        background-position: 269%;
    }
    100%{
        background-position: 400%;
    }
} 
*/
/* new login animation */
@keyframes rotate {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
.signupscript{
    padding-top: 30px;
    font-family: orsign;
    text-indent: 0.1px;
    font-size: 18px;
}
.grp1{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.cont1:hover{
    background-image: conic-gradient(rgba(167, 163, 163, 0.9) var(--fill),transparent var(--fill));
    border-radius: 2000px;
    animation: load1 500ms linear 1;
    --fill:100%;
}
.cont2:hover{
    background-image: conic-gradient(rgba(167, 163, 163, 0.9) var(--fill),transparent var(--fill));
    border-radius: 2000px;
    animation: load1 500ms linear 1;
    --fill:100%;
}
.cont2{
    background-color: rgba(255, 255, 255,0.05) ;
    border-radius: 2000px;
}
.cont2::after{
    padding: 5px;
    background-image: conic-gradient(red 20%,transparent 20%);
}
@keyframes load1{
    from{
        --fill:0%;
    }
    to{
        --fill:100%;
    }
}
#fb{
    width: 40px;
    height: 40px;
}

#gg{
    width: 40px;
    height: 40px;
}
.regemail{
    height: 50%;
    margin:0;
}
#emphoto{
    transform: translate(120%, 25%);
}
#register{
    transform: translate(-5%);
    margin:0;
    text-align: right;
    padding-right: 20px;
    border:none;
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
    height: 50px;
    font-size: 15px;
    border-radius: 20px;
    font-family: regemail;
}
#register:hover{
    background-color: rgba(255, 255, 255, 0.55);
}
#regemailanchor{
    color: black;
    text-decoration: none;
}
.card::after, .card::before{
    position: absolute;
    content:'';
    height:48px;
    top:70%;
    left: 50%;
    translate: -50% -50%;
    width: 305px;
    background-image: conic-gradient(from 0deg, transparent 75%, rgb(0, 0, 255));
    border:none;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 25px;
    z-index: -1;
}
.card::before{
    filter: blur(1.5rem);
}
.error{
    height: 15px;
    width: 15px;
    padding-right: 5px;
}
#erroruser,#errorpass{
    display: none;
    width: fit-content;
    height: fit-content;
    margin-left: 45px;
    padding-top: 10px;
    font-family: monospace;
    font-size: 15px;
    color: red;
}
@property --fill{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}
@property --angle{
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}